.timeline-messages, 
.msg-time-chat, 
.timeline-messages .msg-in, 
.timeline-messages .msg-out {
    width: 100%;
}

.post-container {
    width: 100%;
    .post-thumbnail {
        height: 48px;
        width: 48px;
        margin-right: 10px;
    }
    .post-time {
        float: right;
    }
    .post-creator {
        font-weight: strong;
    }
    .post-content-container {
        margin-top: 10px;
    }
    .post-content {
        font-size: 18px;
    }
}
