<div ng-include="'components/nav/nav.html'"></div>

<section id="container">
<!--main content start-->
<section id="main-content">
<section class="wrapper">

<div class="row">
    <div class="col-lg-8">
      <section class="panel">
        <header class="panel-heading wht-bg">
          <h4 class="gen-case"> Hey {{getCurrentUser().name}}, What's Up?
            
          </h4>
        </header>
        <div class="panel-body">
          <div class="compose-mail">
            <form role="form-horizontal" method="post">
              <input type="text" class="form-control" placeholder="What's on your mind?" ng-model="newPost">
              <div class="compose-btn pull-right">
                <button class="btn btn-primary" ng-click="addPost()"><i class="fa fa-check"></i> Post</button>
              </div>
            </form>
          </div>
        </div>
      </section>

      <div id="job-history" class="tab-pane ">
        <div class="row">
            <div class="col-md-12">
                <div class="timeline-messages">
                  <h3>
                    Latest Happenings
                    <!-- <form action="#" class="pull-right mail-src-position">
                      <div class="input-append">
                        <input type="text" class="form-control " placeholder="Search Posts">
                      </div>
                    </form> -->
                  </h3>
                  <div class="msg-time-chat" ng-repeat="post in posts.slice().reverse()">
                      <div class="message-body msg-in">
                          <span class="arrow"></span>
                          <div class="text">
                              <div class="first">
                                {{post.date | fromPresentDate}}
                              </div>
                              <div class="second">
                                <strong>{{post._creator.name}}</strong>
                                <p>{{post.content}}</p>
                              </div>
                          </div>
                      </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>

</section>
</section>
<!--main content end-->
</section>
