<div ng-include="'components/nav/nav.html'"></div>

<section id="container">
<!--main content start-->
<section id="main-content">
<section class="wrapper">

<div class="row hs-analytics">
  <div class="col-md-3">
    <aside class="profile-nav alt">
      <section class="panel">
        <header class="panel-heading">
          All Users
        </header>
        <ul class="nav nav-pills nav-stacked analytics-users-sidebar-item">
          <li class="users-section-heading">
            <div class="form-group">
              <input type="text" class="form-control" ng-model="usersSearchText" placeholder="Search Users">
            </div>
          </li>
          <li class="analytics-users-sidebar-item" ng-repeat="user in filteredUsers = (users | filter:usersSearchText)">
            <a href ng-click="user.selected = !user.selected">
              <img class="img-circle row-user-thumbnail" ng-src="{{ user.facebook_id | fbProfilePicture }}"> {{ user.name }} 
              <span ng-show="user.selected" class="badge label-success pull-right r-activity analytics-users-sidebar-check"><i class="fa fa-check"></i></span>
            </a>
          </li>
          <li ng-if="filteredUsers.length === 0">
            <a>
              No users matched for "{{ usersSearchText }}".
            </a>
          </li>
        </ul>
      </section>
    </aside>
  </div>

  <div class="col-md-9">

    <div class="row">
      <div class="col-sm-12">
        <section class="panel">
          <header class="panel-heading">Configuration Options</header>
          <div class="panel-body">

          <form class="form-horizontal">

            <div class="form-group">
              <label class="control-label col-md-2">Date Range</label>
              <div class="col-md-4">
                <input type="text" class="form-control" name="daterange" ng-model="dateRange">
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-md-2">Granularity</label>
              <div class="col-md-8">
                <div class="radio-inline">
                  <label>
                    <input type="radio" name="inlineRadioOptions" ng-model="granularity" value="day"> Day
                  </label>
                </div>
                <div class="radio-inline">
                  <label>
                    <input type="radio" name="inlineRadioOptions" ng-model="granularity" value="week"> Week
                  </label>
                </div>
                <div class="radio-inline">
                  <label>
                    <input type="radio" name="inlineRadioOptions" ng-model="granularity" value="month"> Month
                  </label>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-md-2">Selected users</label>
              <div class="col-md-10">
                <label class="control-label" ng-if="selectedUsers.length === 0">No users selected</label>
                <ul class="analytics-selected-users">
                  <li class="analytics-selected-users-item" ng-repeat="user in selectedUsers = (users | filter:{selected: true})" style="background-color: {{user.color}}">
                    <a href ng-click="user.selected = !user.selected"><img class="img-circle row-user-thumbnail" ng-src="{{ user.facebook_id | fbProfilePicture }}"> {{ user.name }} <i class="fa fa-times"></i></a>
                  </li>
                </ul>
              </div>
            </div>

          </form>
          </div>
        </section>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <section class="panel">
          <header class="panel-heading"><i class="fa fa-bed"></i> Sleep ({{dateRange}})</header>
          <div class="panel-body">
            <p ng-hide="selectedUsers.length">Select a user from the left</p>
            <div class="chartJS">
              <canvas id="sleep-chart" height="250" width="800"></canvas>
              <div ng-show="selectedUsers.length">
                <h4>Statistics</h4>
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Mean</th>
                      <th>Median</th>
                      <th>Min</th>
                      <th>Max</th>
                      <th>S.D.</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="user in selectedUsers">
                      <td><span class="fa fa-circle" style="color: {{user.color}}"></span> &nbsp; {{user.name}}</td>
                      <td>{{user.sleep_stats.mean}}</td>
                      <td>{{user.sleep_stats.median}}</td>
                      <td>{{user.sleep_stats.min}}</td>
                      <td>{{user.sleep_stats.max}}</td>
                      <td>{{user.sleep_stats.standardDev}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <section class="panel">
          <header class="panel-heading"><i class="fa fa-heartbeat"></i> Activity ({{dateRange}})</header>
          <div class="panel-body">
            <p ng-hide="selectedUsers.length">Select a user from the left</p>
            <div class="chartJS">
              <canvas id="activity-chart" height="250" width="800"></canvas>
              <div ng-show="selectedUsers.length">
                <h4>Statistics</h4>
                <table ng-show="selectedUsers.length" class="table table-hover">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Mean</th>
                      <th>Median</th>
                      <th>Min</th>
                      <th>Max</th>
                      <th>S.D.</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="user in selectedUsers">
                      <td><span class="fa fa-circle" style="color: {{user.color}}"></span> &nbsp; {{user.name}}</td>
                      <td>{{user.activity_stats.mean}}</td>
                      <td>{{user.activity_stats.median}}</td>
                      <td>{{user.activity_stats.min}}</td>
                      <td>{{user.activity_stats.max}}</td>
                      <td>{{user.activity_stats.standardDev}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <section class="panel">
          <header class="panel-heading"><i class="fa fa-cutlery"></i> Weight ({{dateRange}})</header>
          <div class="panel-body">
            <p ng-hide="selectedUsers.length">Select a user from the left</p>
            <div class="chartJS">
              <canvas id="weight-chart" height="250" width="800"></canvas>
              <div ng-show="selectedUsers.length">
                <h4>Statistics</h4>
                <table ng-show="selectedUsers.length" class="table table-hover">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Mean</th>
                      <th>Median</th>
                      <th>Min</th>
                      <th>Max</th>
                      <th>S.D.</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="user in selectedUsers">
                      <td><span class="fa fa-circle" style="color: {{user.color}}"></span> &nbsp; {{user.name}}</td>
                      <td>{{user.weight_stats.mean}}</td>
                      <td>{{user.weight_stats.median}}</td>
                      <td>{{user.weight_stats.min}}</td>
                      <td>{{user.weight_stats.max}}</td>
                      <td>{{user.weight_stats.standardDev}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <section class="panel">
          <header class="panel-heading">Pie Chart</header>
          <div class="panel-body">
            <div class="chartJS">
              <canvas id="pie-chart-js" height="250" width="800" ></canvas>
            </div>
          </div>
        </section>
      </div>
      <div class="col-sm-6">
        <section class="panel">
          <header class="panel-heading">Donut Chart</header>
          <div class="panel-body">
            <div class="chartJS">
              <canvas id="donut-chart-js" height="250" width="800" ></canvas>

            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>

</section>
</section>
<!--main content end-->
</section>
