/**
 * App-wide Styles
 */

html, 
body,
.main-container {
  height: 100%;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.lock-screen {
  height: 100%;
}

.logo-registration {
  width: 90%;
}

// Component styles are injected through grunt
// injector
@import 'account/login/login.scss';
@import 'admin/admin.scss';
@import 'chatroom/chatroom.scss';
@import 'community/community.scss';
@import 'dashboard/dashboard.scss';
@import 'feed/feed.scss';
// endinjector
