.sleep-bg {
  background-color: #A9D86E;
}

.activity-bg {
  background-color: #FF6C60;
}

.weight-bg {
  background-color: #FCB322;
}

.leaderboard-thumbnail {
  width: 32px;
  margin-right: 10px;

}
