<div ng-include="'components/nav/nav.html'"></div>

<section id="container">
<!--main content start-->
<section id="main-content">
<section class="wrapper">

<div class="row">
  <div class="col-md-12">
    <ul class="nav nav-pills">
      <li role="presentation" ng-class="{active: timePeriod=='3'}" ng-click="timePeriod='3'"><a href>3 Days</a></li>
      <li role="presentation" ng-class="{active: timePeriod=='week'}" ng-click="timePeriod='week'"><a href>Week</a></li>
      <li role="presentation" ng-class="{active: timePeriod=='month'}" ng-click="timePeriod='month'"><a href>Month</a></li>
    </ul>
    <br>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <aside class="profile-nav alt">
      <section class="panel">
        <div class="user-heading alt type-sleep">
          <a>
            <i class="fa fa-bed stat-icon"></i>
          </a>
          <h2>Sleep</h2>
          <p>Minutes slept</p>
        </div>
        <ul class="nav nav-pills nav-stacked">
          <li ng-repeat="user in users | orderBy: '-average_sleep_' + timePeriod | limitTo: 10">
            <a href=""><i>{{$index + 1}}</i> <img class="img-circle row-user-thumbnail" ng-src="{{ user.facebook_id | fbProfilePicture }}"> {{ user.name }} <span class="badge label-success pull-right r-activity">{{ user['average_sleep_' + timePeriod] }}</span></a>
          </li>
        </ul>
      </section>
    </aside>
  </div>

  <div class="col-md-4">
    <aside class="profile-nav alt">
      <section class="panel">
        <div class="user-heading alt type-activity">
          <a>
            <i class="fa fa-heartbeat stat-icon"></i>
          </a>
          <h2>Activity Level</h2>
          <p>Calories burnt</p>
        </div>
        <ul class="nav nav-pills nav-stacked">
          <li ng-repeat="user in users | orderBy: '-average_activity_' + timePeriod | limitTo: 10">
            <a href=""><i>{{$index + 1}}</i> <img class="img-circle row-user-thumbnail" ng-src="{{ user.facebook_id | fbProfilePicture }}"> {{ user.name }} <span class="badge label-danger pull-right r-activity">{{ user['average_activity_' + timePeriod] }}</span></a>
          </li>
        </ul>
      </section>
    </aside>
  </div>

  <div class="col-md-4">
    <aside class="profile-nav alt">
      <section class="panel">
        <div class="user-heading alt type-weight">
          <a>
            <i class="fa fa-cutlery stat-icon"></i>
          </a>
          <h2>Weight</h2>
          <p>Average weight</p>
        </div>
        <ul class="nav nav-pills nav-stacked">
          <li ng-repeat="user in users | orderBy: '-average_weight_' + timePeriod | limitTo: 10">
            <a href=""><i>{{$index + 1}}</i> <img class="img-circle row-user-thumbnail" ng-src="{{ user.facebook_id | fbProfilePicture }}"> {{ user.name }} <span class="badge label-warning pull-right r-activity">{{ user['average_weight_' + timePeriod] }}</span></a>
          </li>
        </ul>
      </section>
    </aside>
  </div>

</div>

</section>
</section>
<!--main content end-->
</section>
