<div ng-include="'components/nav/nav.html'"></div>

<section id="container">
<!--main content start-->
<section id="main-content">
<section class="wrapper">

<div class="row">
  <div class="col-md-12"> 
    <section class="panel">
      <div class="panel-body">
        <div class="compose-mail community-search">
          <form role="form-horizontal" method="post">
            <input type="text" class="form-control community-search-input" placeholder="Search User" ng-model="usersSearchText">
          </form>
        </div>
      </div>
    </section>
  </div>
</div>

<div class="row">
  <div class="col-md-12" ng-if="filteredUsers.length === 0">
    <h4>No users matched for "{{ usersSearchText }}".</h4>
  </div>
  <div class="col-md-4" ng-repeat="user in filteredUsers = (users | filter:usersSearchText) | orderBy:'name'">
    <section class="panel">
      <div class="user-container twt-feed">
        <div class="user-background" style="background-image: url('{{user.facebook_cover_photo}}')"></div>
        <div class="user-info-container">
          <div class="corner-ribon black-ribon">
            <i class="fa fa-user"></i>
          </div>
          <div ng-show="!user.facebook_cover_photo" class="wtt-mark"></div>
          <a class="user-link" href="#">
            <img alt="{{user.name}} Profile Picture" ng-src="{{user.facebook_id | fbProfilePicture}}">
          </a>
          <h2 class="user-name">{{ user.name }}</h2>
          <p class="user-email">{{ user.email }}</p>
        </div>
      </div>
      <div class="weather-category twt-category">
        <ul>
          <li class="active">
            <h5>{{ user.average_activity }}</h5>
            Activity
          </li>
          <li>
            <h5>{{ user.average_sleep }}</h5>
            Sleep
          </li>
          <li>
            <h5>{{ user.average_weight }}</h5>
            Weight
          </li>
        </ul>
      </div>
<!--       <footer class="twt-footer">
        <a href="#"><i class="fa fa-camera"></i></a>
        <a href="#"><i class="fa fa-map-marker"></i></a>
          New Castle, UK
        <span class="pull-right">32</span>
      </footer> -->
    </section>
  </div>
</div>

</section>
</section>
<!--main content end-->
</section>
