.user-container {  
  position: relative;
  min-height: 95px;
}

.user-background {
  background-color: #1fb5ad; 
  background-size: cover;
  background-position: center 35%;
  filter: grayscale(60%);
  &:hover {
    filter: grayscale(0%);
  }
}

.user-background,
.user-info-container {
  border-radius: 4px 4px 0 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  .user-name {
    color: #fff;
    font-size: 24px;
    text-shadow: 0 0 3px #000;
  }
  .user-email {
    color: #bdbdbd;
  }
}

.user-info-container {
  color: #FFFFFF;
  padding: 40px 10px 10px;
}

.user-link {
  border: 5px solid #fff;
}

.twt-category {
  margin-top: 35px;
}
