<div ng-include="'components/nav/nav.html'"></div>

<section id="container">
<!--main content start-->
<section id="main-content">
<section class="wrapper">

<div class="row">
  <div class="col-md-8">
    <!--chat start-->
    <section class="panel">
        <header class="panel-heading">
          Chat
        </header>
        <div class="panel-body">
          <div class="chat-conversation">
            <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 460px;">
              <ul class="conversation-list" style="overflow: hidden; width: auto; height: 460px;">
                <li class="clearfix" ng-class="{odd: (getCurrentUser()._id === message._creator._id)}" ng-repeat="message in messages.slice()">
                  <div class="chat-avatar">
                    <img class="chat-thumbnail" ng-src="{{message._creator.facebook_id | fbProfilePicture}}" alt="male">
                  </div>
                  <div class="conversation-text">
                    <div class="ctext-wrap">
                      <i>{{message._creator.name}}</i>
                      <p>
                        {{message.content}}
                      </p>
                      <i>{{message.date | date:'h:mma'}}</i>
                    </div>
                  </div>
                </li>
              </ul>
              <div class="slimScrollBar" style="width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 460px; background: rgb(0, 0, 0);"></div>
              <div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; opacity: 0.2; z-index: 90; right: 1px; background: rgb(51, 51, 51);"></div>
            </div>
            <form class="row" method="message">
              <div class="col-xs-10">
                <input type="text" class="form-control chat-input" placeholder="Say something..." ng-model="newMessage">
              </div>
              <div class="col-xs-2 chat-send">
                <button type="submit" ng-click="addMessage()" class="btn btn-primary">Send</button>
              </div>
            </form>
          </div>
        </div>
    </section>
    <!--chat end-->
  </div>
</div>

</section>
</section>
<!--main content end-->
</section>
